In [29]:
#pip install numpy

In [30]:
#pip install pandas

In [31]:
#pip install matplotlib

In [32]:
import numpy as np
import pandas as pd
import matplotlib as mp

In [33]:
data=pd.read_csv("Loan.csv")
print(data.head())
print(data.tail())

   loan_id   no_of_dependents      education  self_employed   income_annum  \
0        1                  2       Graduate             No      9600000.0
1        1                  2       Graduate             No      9600000.0
2        1                  2       Graduate             No      9600000.0
3        2                  0   Not Graduate            Yes      4100000.0
4        3                  3       Graduate             No      9100000.0

    loan_amount   loan_term   cibil_score   residential_assets_value  \
0    29900000.0          12           778                  2400000.0
1    29900000.0          12           778                  2400000.0
2    29900000.0          12           778                  2400000.0
3    12200000.0           8           417                  2700000.0
4    29700000.0          20           506                  7100000.0

    commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                17600000.0            22700000.0          8000000.0
1                17600000.0            22700000.0          8000000.0
2                17600000.0            22700000.0          8000000.0
3                 2200000.0             8800000.0          3300000.0
4                 4500000.0            33300000.0         12800000.0

   loan_status
0     Approved
1     Approved
2     Approved
3     Rejected
4     Rejected
      loan_id   no_of_dependents      education  self_employed   income_annum  \
4266     4265                  5       Graduate            Yes      1000000.0
4267     4266                  0   Not Graduate            Yes      3300000.0
4268     4267                  2   Not Graduate             No      6500000.0
4269     4268                  1   Not Graduate             No      4100000.0
4270     4269                  1       Graduate             No      9200000.0

       loan_amount   loan_term   cibil_score   residential_assets_value  \
4266     2300000.0          12           317                  2800000.0
4267    11300000.0          20           559                  4200000.0
4268    23900000.0          18           457                  1200000.0
4269    12800000.0           8           780                  8200000.0
4270    29700000.0          10           607                 17800000.0

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
4266                  500000.0             3300000.0           800000.0
4267                 2900000.0            11000000.0          1900000.0
4268                12400000.0            18100000.0          7300000.0
4269                  700000.0            14100000.0          5800000.0
4270                11800000.0            35700000.0         12000000.0

      loan_status
4266     Rejected
4267     Approved
4268     Rejected
4269     Approved
4270     Approved

In [34]:
data=data.rename(
    columns={
        'loan_id':'loan_application_id',
        ' no_of_dependents':'financially_dependent_count',
        ' education':'highest_education',
        ' self_employed':'employment_status',
        ' income_annum':'annual_income',
        ' loan_amount':'loan_principal',
        ' loan_term':'loan_duration_months',
        ' cibil_score':'credit_score',
        ' residential_assets_value':'primary_residence_value',
        ' commercial_assets_value':'commercial_property_value',
        ' luxury_assets_value':'high_value_assets',
        ' bank_asset_value':'liquid_assets',
        ' loan_status':'loan_approval_decision'   
    }
)
print(data.head())

   loan_application_id  financially_dependent_count highest_education  \
0                    1                            2          Graduate
1                    1                            2          Graduate
2                    1                            2          Graduate
3                    2                            0      Not Graduate
4                    3                            3          Graduate

  employment_status  annual_income  loan_principal  loan_duration_months  \
0                No      9600000.0      29900000.0                    12
1                No      9600000.0      29900000.0                    12
2                No      9600000.0      29900000.0                    12
3               Yes      4100000.0      12200000.0                     8
4                No      9100000.0      29700000.0                    20

   credit_score  primary_residence_value  commercial_property_value  \
0           778                2400000.0                 17600000.0
1           778                2400000.0                 17600000.0
2           778                2400000.0                 17600000.0
3           417                2700000.0                  2200000.0
4           506                7100000.0                  4500000.0

   high_value_assets  liquid_assets loan_approval_decision
0         22700000.0      8000000.0               Approved
1         22700000.0      8000000.0               Approved
2         22700000.0      8000000.0               Approved
3          8800000.0      3300000.0               Rejected
4         33300000.0     12800000.0               Rejected

In [35]:
r,c=data.shape
print(f'Number of Rows is {r} \nNumber of Columns is {c}')

Number of Rows is 4271
Number of Columns is 13

In [36]:
info_col=data.info()
print(info_col)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   loan_application_id          4271 non-null   int64
 1   financially_dependent_count  4271 non-null   int64
 2   highest_education            4269 non-null   object
 3   employment_status            4271 non-null   object
 4   annual_income                4269 non-null   float64
 5   loan_principal               4270 non-null   float64
 6   loan_duration_months         4271 non-null   int64
 7   credit_score                 4271 non-null   int64
 8   primary_residence_value      4269 non-null   float64
 9   commercial_property_value    4269 non-null   float64
 10  high_value_assets            4270 non-null   float64
 11  liquid_assets                4270 non-null   float64
 12  loan_approval_decision       4271 non-null   object
dtypes: float64(6), int64(4), object(3)
memory usage: 433.9+ KB
None

In [37]:
print(data.columns[data.isna().any()].tolist())

['highest_education', 'annual_income', 'loan_principal', 'primary_residence_value', 'commercial_property_value', 'high_value_assets', 'liquid_assets']

In [38]:
print(data.isnull().sum())

loan_application_id            0
financially_dependent_count    0
highest_education              2
employment_status              0
annual_income                  2
loan_principal                 1
loan_duration_months           0
credit_score                   0
primary_residence_value        2
commercial_property_value      2
high_value_assets              1
liquid_assets                  1
loan_approval_decision         0
dtype: int64

In [39]:
data['annual_income']=data['annual_income'].fillna(data['annual_income'].median())
data['highest_education']=data['highest_education'].fillna(data['highest_education'].mode()[0])
data['loan_principal']=data['loan_principal'].fillna(data['loan_principal'].median())
data['loan_principal']=data['loan_principal'].fillna(data['loan_principal'].median())
data['primary_residence_value']=data['primary_residence_value'].fillna(data['primary_residence_value'].mean())
data['commercial_property_value']=data['commercial_property_value'].fillna(data['commercial_property_value'].mean())
data['high_value_assets']=data['high_value_assets'].fillna(data['high_value_assets'].median())
data['liquid_assets']=data['liquid_assets'].fillna(data['liquid_assets'].median())

In [40]:
duplicate = data[data.duplicated()]
print(duplicate)

   loan_application_id  financially_dependent_count highest_education  \
1                    1                            2          Graduate
2                    1                            2          Graduate

  employment_status  annual_income  loan_principal  loan_duration_months  \
1                No      9600000.0      29900000.0                    12
2                No      9600000.0      29900000.0                    12

   credit_score  primary_residence_value  commercial_property_value  \
1           778                2400000.0                 17600000.0
2           778                2400000.0                 17600000.0

   high_value_assets  liquid_assets loan_approval_decision
1         22700000.0      8000000.0               Approved
2         22700000.0      8000000.0               Approved

In [41]:
data.drop_duplicates(inplace=True)

In [42]:
data['highest_education']=data['highest_education'].apply(lambda x: 1 if x==' Graduate' else 0)
data['loan_approval_decision']=data['loan_approval_decision'].apply(lambda x: 1 if x==' Approved' else 0)
data['employment_status']=data['employment_status'].apply(lambda x: 1 if x==' Yes' else 0)

In [43]:
z_scores = (data['liquid_assets'] - data['liquid_assets'].mean()) / data['liquid_assets'].std()
outliers = data[np.abs(z_scores) > 3] 
print(outliers)
data['liquid_assets'] = np.where(np.abs(z_scores) > 3, data['liquid_assets'].median(), data['liquid_assets'])

Empty DataFrame
Columns: [loan_application_id, financially_dependent_count, highest_education, employment_status, annual_income, loan_principal, loan_duration_months, credit_score, primary_residence_value, commercial_property_value, high_value_assets, liquid_assets, loan_approval_decision]
Index: []

In [44]:
Q1 = data['commercial_property_value'].quantile(0.25)
Q3 = data['commercial_property_value'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = data[(data['commercial_property_value'] < lower_bound) | (data['commercial_property_value'] > upper_bound)]
print(outliers)
data['commercial_property_value'] = np.where((data['commercial_property_value'] < lower_bound) | (data['commercial_property_value'] > upper_bound), data['commercial_property_value'].median(), data['commercial_property_value'])
#print(data)

      loan_application_id  financially_dependent_count  highest_education  \
0                       1                            2                  1
159                   158                            5                  0
233                   232                            2                  1
260                   259                            0                  1
325                   324                            3                  0
369                   368                            1                  0
556                   555                            3                  0
793                   792                            4                  1
897                   896                            0                  1
907                   906                            5                  0
1031                 1030                            2                  0
1133                 1132                            0                  0
1196                 1195                            4                  0
1256                 1255                            5                  0
1274                 1273                            5                  0
1306                 1305                            2                  1
1611                 1610                            5                  0
1763                 1762                            2                  0
1770                 1769                            4                  0
1814                 1813                            5                  0
2006                 2005                            2                  0
2304                 2303                            5                  1
2351                 2350                            0                  1
2916                 2915                            3                  0
2935                 2934                            0                  1
2942                 2941                            1                  1
2978                 2977                            3                  0
3002                 3001                            1                  0
3441                 3440                            5                  0
3543                 3542                            3                  0
3792                 3791                            1                  0
3829                 3828                            1                  1
3884                 3883                            1                  1
3951                 3950                            1                  0
4012                 4011                            3                  1
4122                 4121                            3                  1
4207                 4206                            2                  0

      employment_status  annual_income  loan_principal  loan_duration_months  \
0                     0      9600000.0      29900000.0                    12
159                   1      9900000.0      33300000.0                     6
233                   0      9800000.0      32400000.0                     2
260                   0      9800000.0      38800000.0                     8
325                   1      9500000.0      24200000.0                     8
369                   1      9400000.0      29800000.0                    10
556                   1      9500000.0      22800000.0                     6
793                   1      9300000.0      35500000.0                     6
897                   0      9400000.0      27900000.0                     6
907                   0      9700000.0      37000000.0                    14
1031                  1      9500000.0      37000000.0                     8
1133                  0      9900000.0      27000000.0                    16
1196                  1      9000000.0      21500000.0                    14
1256                  1      9800000.0      35700000.0                    10
1274                  0      9900000.0      35800000.0                    20
1306                  1      9400000.0      24800000.0                    14
1611                  1      9800000.0      23200000.0                    10
1763                  1      9800000.0      32700000.0                     2
1770                  0      9900000.0      29100000.0                    18
1814                  0      9000000.0      35200000.0                     2
2006                  0      9900000.0      31600000.0                    16
2304                  1      9700000.0      30100000.0                    12
2351                  0      9200000.0      22500000.0                    10
2916                  1      9900000.0      36500000.0                    16
2935                  0      9600000.0      23200000.0                    18
2942                  1      9600000.0      34100000.0                    20
2978                  1      9400000.0      30900000.0                    20
3002                  1      9900000.0      25700000.0                     2
3441                  1      9700000.0      27400000.0                     2
3543                  0      8800000.0      24900000.0                    16
3792                  0      9600000.0      32400000.0                    20
3829                  1      9600000.0      35900000.0                     8
3884                  1      9700000.0      34300000.0                    20
3951                  1      9100000.0      23600000.0                    20
4012                  1      9000000.0      18600000.0                    16
4122                  0      9100000.0      19900000.0                     2
4207                  0      8900000.0      17800000.0                    20

      credit_score  primary_residence_value  commercial_property_value  \
0              778                2400000.0                 17600000.0
159            364                5300000.0                 18700000.0
233            543               24200000.0                 17500000.0
260            652               23200000.0                 19000000.0
325            879                3100000.0                 17200000.0
369            377               24100000.0                 18500000.0
556            319                 200000.0                 18800000.0
793            547                2800000.0                 17800000.0
897            456               21400000.0                 18500000.0
907            459               28700000.0                 17900000.0
1031           887               21800000.0                 18300000.0
1133           566                3500000.0                 17300000.0
1196           508               16600000.0                 17300000.0
1256           726                9400000.0                 18900000.0
1274           470                9500000.0                 18400000.0
1306           513               24200000.0                 18200000.0
1611           416               11000000.0                 17300000.0
1763           304                4700000.0                 19000000.0
1770           772               24100000.0                 19400000.0
1814           437               18400000.0                 17800000.0
2006           892                4200000.0                 17500000.0
2304           434               19600000.0                 17900000.0
2351           317               14200000.0                 17400000.0
2916           562               17300000.0                 18500000.0
2935           389                1000000.0                 17600000.0
2942           828               26100000.0                 19000000.0
2978           873               22800000.0                 17700000.0
3002           340               15600000.0                 18800000.0
3441           328                      0.0                 18400000.0
3543           668               16700000.0                 17200000.0
3792           447               15400000.0                 18400000.0
3829           534               24500000.0                 17700000.0
3884           756               15700000.0                 18500000.0
3951           535                2800000.0                 17600000.0
4012           518               18400000.0                 17600000.0
4122           711                2200000.0                 17900000.0
4207           603                3300000.0                 17600000.0

      high_value_assets  liquid_assets  loan_approval_decision
0            22700000.0      8000000.0                       1
159          27800000.0      8300000.0                       0
233          25700000.0      7700000.0                       1
260          29700000.0      5400000.0                       1
325          26400000.0     12700000.0                       1
369          30900000.0     11700000.0                       0
556          34100000.0      9400000.0                       0
793          27000000.0     13900000.0                       0
897          35600000.0      7800000.0                       0
907          22800000.0      5600000.0                       0
1031         19200000.0     11700000.0                       1
1133         36900000.0     11500000.0                       1
1196         24300000.0     13100000.0                       0
1256         31200000.0     12000000.0                       1
1274         39100000.0     14700000.0                       0
1306         37200000.0      7500000.0                       0
1611         21600000.0      8500000.0                       0
1763         24500000.0      8600000.0                       1
1770         26800000.0     11700000.0                       1
1814         18300000.0     10400000.0                       1
2006         31400000.0     12700000.0                       1
2304         21000000.0      6900000.0                       0
2351         28500000.0     10700000.0                       0
2916         22300000.0      9800000.0                       1
2935         22200000.0      8800000.0                       0
2942         20800000.0     12400000.0                       1
2978         19300000.0      9000000.0                       1
3002         29500000.0     11800000.0                       0
3441         22000000.0      7900000.0                       0
3543         30000000.0     10500000.0                       1
3792         19800000.0      4700000.0                       0
3829         31900000.0      5400000.0                       0
3884         26800000.0     14100000.0                       1
3951         26400000.0      4500000.0                       0
4012         28900000.0     10300000.0                       0
4122         24300000.0     13000000.0                       1
4207         29000000.0     13100000.0                       1

In [45]:
median = data['primary_residence_value'].median()
mad = (np.abs(data['primary_residence_value'] - median)).median()
modified_z_scores = 0.6745 * (data['primary_residence_value'] - median) / mad
outliers = data[modified_z_scores > 3.5]  
print(outliers)
data['primary_residence_value'] = np.where(modified_z_scores > 3.5, data['primary_residence_value'].median(), data['primary_residence_value'])
print("\nData After Replacing Outliers with Median Salary:")
#print(data)

      loan_application_id  financially_dependent_count  highest_education  \
716                   715                            4                  0
894                   893                            4                  1
907                   906                            5                  0
989                   988                            5                  1
1470                 1469                            3                  0
1593                 1592                            1                  1
1967                 1966                            0                  0
1999                 1998                            0                  1
2320                 2319                            2                  0
2588                 2587                            1                  0
2830                 2829                            4                  1
2929                 2928                            4                  1
3121                 3120                            4                  0
3236                 3235                            1                  0
3784                 3783                            5                  1
4044                 4043                            4                  1
4076                 4075                            4                  0

      employment_status  annual_income  loan_principal  loan_duration_months  \
716                   0      9900000.0      22700000.0                    12
894                   0      9300000.0      24900000.0                    14
907                   0      9700000.0      37000000.0                    14
989                   0      9400000.0      25800000.0                    14
1470                  1      9500000.0      25500000.0                    12
1593                  0      9500000.0      23000000.0                    10
1967                  0      9900000.0      22300000.0                    20
1999                  0      9300000.0      20300000.0                    14
2320                  1      9600000.0      29800000.0                    16
2588                  1      9800000.0      36000000.0                    12
2830                  1      9200000.0      18600000.0                     2
2929                  0      9400000.0      32200000.0                     6
3121                  0      9800000.0      29400000.0                     8
3236                  0      9900000.0      23400000.0                    16
3784                  1      9500000.0      21700000.0                    16
4044                  0      9300000.0      34900000.0                     6
4076                  1      9400000.0      25700000.0                    14

      credit_score  primary_residence_value  commercial_property_value  \
716            567               28300000.0                  9900000.0
894            455               27600000.0                  4700000.0
907            459               28700000.0                  3700000.0
989            625               28200000.0                 15400000.0
1470           881               27000000.0                 14100000.0
1593           627               28500000.0                 11500000.0
1967           613               28400000.0                  8900000.0
1999           759               27000000.0                 11600000.0
2320           499               28500000.0                  6300000.0
2588           629               28000000.0                  4100000.0
2830           889               26900000.0                  4200000.0
2929           898               27600000.0                 11800000.0
3121           592               29100000.0                 16700000.0
3236           687               28200000.0                  3700000.0
3784           307               27500000.0                  2700000.0
4044           837               27400000.0                   800000.0
4076           845               27300000.0                  4100000.0

      high_value_assets  liquid_assets  loan_approval_decision
716          29700000.0      5400000.0                       1
894          35100000.0     13900000.0                       0
907          22800000.0      5600000.0                       0
989          30800000.0     11100000.0                       1
1470         21600000.0      8900000.0                       1
1593         21700000.0      9100000.0                       1
1967         23600000.0      4900000.0                       1
1999         26500000.0     10900000.0                       1
2320         31800000.0      7400000.0                       0
2588         29800000.0     11200000.0                       1
2830         33300000.0      9700000.0                       1
2929         19500000.0      8600000.0                       1
3121         35900000.0      9000000.0                       1
3236         29600000.0      8200000.0                       1
3784         28500000.0      9700000.0                       0
4044         21400000.0      8500000.0                       1
4076         26500000.0     12200000.0                       1

Data After Replacing Outliers with Median Salary:

In [46]:
data.to_csv("output.csv", index=False)